/*
.sidebarContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 18%; // Ajusta este valor al 20% del lateral 
    height: 100vh; // Mide toda la pantalla verticalmente 
    background-color: #EF8F2F; // Cambia esto al color deseado para el sidebar 
    z-index: 0; // Asegura que el sidebar esté detrás del contenido 
    color:#ffff;
    justify-content: center;
}*/
.sidebarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}
.logo{
    width: 30%;
    height: 14%;
}