.menu-item {
    padding: 10px 20px;
    color: #726969;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    display: block;
    position: relative; /* Mantiene la posición relativa */
  }
  
  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-size: 25px;
    color: #726969;
    margin-right: 6%;
  }
  
  .text {
    font-size: 15px;
  }
  
  .submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Las subcategorías se extenderán hacia abajo */
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 1;
  }
  
  .submenu a {
    padding: 5px 0;
    text-decoration: none;
    color: #333;
  }
  
  .submenu.show {
    display: flex;
  }