.list_item {
  padding: 10px 20px;
  color: #726969;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  display: block; /* Cambiado a display: block */
  align-items: center;
  display: flex;
  background-color: red;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 25px;
  color: #726969;
  margin-right: 6%;
}

.nav_link {
  font-size: 15px;
}
