.category {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
  font-size: large;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-color: rgb(17, 226, 17);
}
.category a{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 25px;
  color: #726969;
  margin-right: 6%;
}

.nav_link {
  font-size: 15px;
}
