.tittle {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #070707;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
    display: flex;
    place-items: center;
    
  }

  .material-symbols-outlined{
    font-family: 'Material Symbols Outlined';
    font-size: 25px;
    color: #333;
    margin-right: 6%;
    transform: scaleX(-1);
  }