/* Estilos para el body */
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el desplazamiento de la página */
  }
  
.mainContainer{
    display:grid;
    grid-template: 9% 1fr / 17% 1fr;
    grid-template-areas:
    "sidebar header header"
    "sidebar content content";
    height: 100vh;
}

app-sidebar{
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  grid-area: sidebar;
}

app-dashboard{
  grid-area: content;
  padding: 2%;
}

app-header{
  background-color: var(--color-complement-two); 
  grid-area: header;
}

    